body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: skyblue;
}
#sun {
  color: rgb(255, 187, 0);
}
#moon {
  display: none;
  color: rgb(196, 196, 196);
}

.container {
  border: black 2px solid;
  background-color: white;
  width: 25px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

#toggle {
  height: 50px;
  width: 20px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-box {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  border: transparent;
  height: 10px;
}
.on {
  background-color: rgb(225, 225, 225);
}
.off-bottom {
  box-shadow: 0px 2px 0px 1px;
}
.off-top {
  box-shadow: 0px -2px 0px 1px;
}
